$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #ff7851;
$orange: #fd7e14;
$yellow: #ffce67;
$green: #56cc9d;
$teal: #20c997;
$cyan: #6cc3d5;
$white: #e7e7de;
$gray: #cecece;
$gray-dark: #343a40;
$light-gray: #d4d0d0dc;
// #4b369d
//#5b55ff
//#f9bf16
$light-bg: #007bff15;
$primary: #1746a2;
$light-primary: #1746a211;
$secondary: #5f9df7;
$highlight: #f9bf16;
$success: #56cc9d;
$info: #f54e4f;
$warning: #fd841f;
$danger: #e14d2a;
$light: #f8f9fa;
$dark: #343a40;
$text-alt: #e7e7e7;
