@import "./variables";
@import "./auth";

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.bg-lightbg {
    background-color: $light-bg;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.text-align-center {
    text-align: center;
}
.text-align-justify {
    text-align: justify;
}

.text-align-end {
    text-align: end;
}

.position-sticky {
    top: 0;
}

.bg-light-gray {
    background-color: $light-gray;
}

.text-white {
    color: $white !important;
}
a {
    // &:hover {
    //     color: $secondary !important;
    //     text-decoration: underline;
    //     cursor: pointer;
    // }
}
.link {
    cursor: pointer;
    color: $primary;
    &:hover {
        color: $secondary !important;
        text-decoration: underline;
        cursor: pointer;
    }
}
a {
    color: $secondary;

    &:hover {
        color: $secondary;
    }
}
.btn.btn-primary {
    background-color: $primary;
    &:hover,
    &:active,
    &:focus {
        background-color: rgba($primary, 0.9) !important;
    }
}
.myClassName__control {
    height: 40px;
}

.error-img {
    width: 100%;
    height: auto;
    max-width: 8em;
    margin: 2em;
}
.error-modal {
    display: flex !important;
    justify-content: center;
    top: 30% !important;
}

.btn-float {
    position: absolute;
}
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 1em;
}
.unauth {
    pointer-events: none;
}
.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-align-center {
    text-align: center;
}
.links {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    a {
        color: white;
        &:hover {
            color: rgba(rgb(181, 228, 255), 1);
        }
    }

    width: 100% !important;
    &:hover {
        text-decoration: underline;
    }
    /* background-color: rgb(149, 182, 255) !important; */
}
.main {
    // background-image: linear-gradient(to right, #8360c3, #2ebf91);
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
